* {
  margin: 0 auto;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

body {
  height: 100%;
  width: 100%;
  font-family: 'Arial'; }

.button-blue {
  background: -webkit-gradient(linear, left top, left bottom, from(#0775d4), to(#2189e2));
  background: -webkit-linear-gradient(#0775d4, #2189e2);
  background: -o-linear-gradient(#0775d4, #2189e2);
  background: linear-gradient(#0775d4, #2189e2);
  color: #fff;
  width: 120px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 0;
  -webkit-border-radius: 3px;
          border-radius: 3px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  cursor: pointer; }

.bar-grey {
  width: 100%;
  height: 200px;
  text-align: center;
  background-color: #cccccc4d;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); }
  .bar-grey__container {
    display: inline-block;
    width: 1204px;
    margin-top: 130px; }
    .bar-grey__container .button__container {
      float: left;
      text-align: left; }
    .bar-grey__container .search__container {
      height: auto;
      width: auto;
      text-align: right;
      float: right; }
      .bar-grey__container .search__container .fas {
        color: #c3c3c3; }
      .bar-grey__container .search__container .fa-search {
        margin-right: 5px;
        line-height: 30px; }
      .bar-grey__container .search__container .search {
        outline: none;
        width: 270px;
        height: 30px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
                box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
        padding-left: 10px;
        border: 1px solid #ccc;
        position: relative; }

.calendar {
  margin-top: 20px;
  text-align: center; }
  .calendar__container {
    width: 1204px;
    text-align: left;
    display: inline-block;
    font-size: 0; }
    .calendar__container .calendar__date {
      text-align: left;
      font-size: 16px;
      margin-bottom: 10px; }
      .calendar__container .calendar__date_current {
        font-weight: 500;
        font-size: 32px;
        padding: 0 7px;
        display: inline-block;
        vertical-align: middle; }
      .calendar__container .calendar__date_arr, .calendar__container .calendar__date_current-day {
        border: 1px solid #ccc;
        padding: 3px;
        display: inline-block;
        vertical-align: middle; }
      .calendar__container .calendar__date_current-day {
        font-size: 12px; }
    .calendar__container_item {
      width: 171px;
      height: 171px;
      display: inline-block;
      vertical-align: top;
      border: 1px solid #c3c3c3;
      margin-left: -1px;
      margin-top: -1px;
      font-size: 17px;
      color: #ccc;
      padding-top: 7px;
      padding-left: 7px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .calendar__container_item:active {
        background-color: #c3c3c3;
        font-weight: 700;
        color: #000; }
      .calendar__container_item.notice {
        color: #000;
        background-color: #2189e26b; }
      .calendar__container_item.empty {
        border-color: #fff; }
